[2020-11-20 11:36] crackAT opened #2 "Required Date Field Issue"
Hi,

i don't know if it is an eloquent driver issue but this issue occurred since i installed this driver.

I have a date field in a collection:
        handle: date
        field:
          type: date
          validate:
            - required

- Creating an entry, no problem.
- Editing an entry ->
![image](https://user-images.githubusercontent.com/6299060/99795507-30aafe00-2b2c-11eb-88d5-bc0ad2b

[2020-11-20 13:01] crackAT commented on #2
Hi: The Datefield is also empty in the Database and in the Collection Overview.
![image](https://user-images.githubusercontent.com/6299060/99802555-327abe80-2b38-11eb-9cb1-1fcda896b37e.png)

[2020-11-23 04:41] edalzell opened #4 "Support multi-site"
Trying to convert a site to multisite via `php please multisite` results in:

[code]

[2020-12-03 16:07] crackAT opened #7 "Clear Cache Error"
Hi,

clearing the content Stache cache manually runs into an error:

ErrorException
Trying to get property 'origin' of non-object
/admin/utilities/cache/cache/stache

Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
vendor/statamic/eloquent-driver/src/Entries/Entry.php:72

[2020-12-08 00:28] edalzell opened #8 "Filters should be case insensitive"
Using the Eloquent driver for entries.

When I try to filter the entries, it's taking the search w/ case sensitivity. i.e.. I have an entry w/ title of `Cochon`, but I can't filter on `coch`, only finds it if I do `Coch`.

I am using Postgres, which is case SENSITIVE by default. Additionally we're in JSON land here so that may also be a factor.

[2020-12-10 00:23] jasonvarga commented on #7
Please provide the entire stack trace.

[2020-12-10 00:33] jasonvarga commented on #8
I don't think this has to do with this package.

If you're actually _filtering_ using filters, then the "contains" option uses a `LIKE` query which on Postgres is case sensitive.
Although I think you can set up your Postgres DB to be case insensitive. I could be wrong there.
Anyway, if you're using a filter, that's part of statamic/cms, and not this package.

If you're performing a search, and you

[2020-12-10 00:33] #8 closed

[2020-12-10 13:22] crackAT commented on #7
Hi,

cannot reproduce the error anymore :/ i will reopen the issue with the stack trace if the error occurs again.

[2020-12-10 13:22] #7 closed

[2020-12-15 07:00] lutory commented on #2
Yes, I have the same issue. You can't save the "date" field that is part of the main fields (not the json field).

[2020-12-15 07:30] lutory opened #9 "Problem with entries coming from a seeder"
Everything works fine with the CP where you can add/edit entries. In the front index and show works fine. Single taxonomy pages are also working as normal.

Than you insert 1000 entries through a seeder.

[code]
`$data` and the other variables are working just fine and you end up with the following code in the DB:
`id: 10 (incremental), site: 'default', origin_id: null, published: 1, status: 'publ

[2020-12-15 16:59] edalzell commented on #9
We fill in the DB manually to (via a db import) and don't have issues so something else must be going on...

[2020-12-15 17:01] edalzell commented on #9
Difference I see is that I don't see the blueprint in there, wonder if that matters. I added that to this driver in a PR, maybe you need to update and add that column @lutory ?

[2021-01-09 14:23] nfragkos opened #11 "Use the database driver conditionally on specific collections"
Is it possible to have a custom entry class and use it only for a specific collection? I love the idea to have my pages on the filesystem but for a blog collection with thousands of entries to use the database.

[2021-01-09 16:23] edalzell commented on #11
Not possible yet, because all collections share the same repository, but I am trying to figure out how it all works so I can start down that path.

[2021-01-27 16:37] crackAT opened #12 "Live Preview Error"
Hi,

when i use the live preview on a new entry and the entry is not saved, i get the following error.

Trying to get property 'origin' of non-object

![Bildschirmfoto 2021-01-27 um 17 37 12](https://user-images.githubusercontent.com/6299060/106022636-58878680-60c6-11eb-87a7-c03bf6d079ba.png)

[2021-01-30 14:49] nfragkos commented on #11
Hi I really needed that functionality so I created an addon called [Eloquenty](https://github.com/nfragkos/statamic-eloquenty). I currently marked it as pre-release as I'm looking for testers and feedback.

[2021-02-19 13:27] Buffalom opened #13 "Parent not valid when creating a Child in a Structured Collection"
When I use the "Create Child Entry" option to create a new entry with a particular parent the parent does not seem to be valid.

![image](https://user-images.githubusercontent.com/20814747/108509785-fb928100-72bd-11eb-8093-3edaa61be207.png)

![image](https://user-images.githubusercontent.com/20814747/108509810-064d1600-72be-11eb-95b3-25e5ce9cb0b0.png)

When I convert the request parameter to type

[2021-03-01 12:53] MrMooky opened #14 "Class name must be a valid object or a string"
I just installed this package, ran the migrations and get the error `Class name must be a valid object or a string` when accessing the CP or any Collection in the frontend.

Error is in file `vendor/statamic/eloquent-driver/src/ServiceProvider.php` on line 44. Am I missing something important? There's not really much documented for the setup so I'd figure it was straightforward.

<img width="613"

[2021-03-01 15:13] jasonvarga commented on #14
Can you run `php please support:details`?

[2021-03-01 15:16] MrMooky commented on #14
@jasonvarga Sure:

Statamic 3.0.45 Pro
Laravel 8.29.0
PHP 7.4.8
mitydigital/statamic-tinymce-cloud 1.0.3
pecotamic/sitemap 1.1.0
statamic/eloquent-driver 0.1.1

[2021-03-01 15:21] jasonvarga commented on #14
Can you provide the whole error's stack trace?

[2021-03-01 15:26] MrMooky commented on #14
[code]

[2021-03-23 14:22] lrtrime commented on #14
I have the same here, found any solution? :)

[2021-04-11 17:38] Joe2824 commented on #14
Same error with
`Statamic 3.1.5 Pro
Laravel 8.34.0
PHP 8.0.3
mattrothenberg/statamic-mapbox-address 0.6.0
rias/statamic-redirect 1.4.3`

[2021-04-17 17:38] Lampone opened #15 "Return values from columns before data field"
I tried to use a sitemap addon (https://github.com/pecotamic/sitemap) and `updated_at` was always giving errors.

EntryModel will always get values from the data-column before any other column. I think this should be changed to be the other way around -> First read column values then values from the data-column.

The following code is the issue:
https://github.com/statamic/eloquent-driver/blob/84b

[2021-04-21 08:51] marcusand opened #16 "Existing UUIDs are not used"
Hi!

I tried to migrate my data from an existing site into the db following the instructions from the readme.
It seems like the `UuidEntryModel` creates new Ids? That, to me, fails the purpose of preserving existing relations.

I replaced line 17

[code]
with
[code]

and now its fine.

Is this a bug or did I miss something?

[2021-04-21 10:52] marcusand opened #17 "Query params on content API broken"
Hi!

After migrating my existing data to the db, query params on the content API stoped working. For example, when
I try to set `fields=id,title,slug` I am getting

[code]

Setup:
Statamic 3.1.9 Pro
Laravel 7.30.4
PHP 8.0.3
statamic/eloquent-driver 0.1.1

Any ideas?

[2021-05-19 01:42] phpsa commented on #16
Yep ran in to the same issue and put a pull request in for this - messes with simple-commerce shopping cart.

[2021-05-19 13:25] FrankPeters commented on #16
Great, I hope it will be merged soon. Having the same issue.

[2021-05-28 13:43] slackernrrd opened #21 "Use different Eloquent models for different collections"
I would really like to use Statamic in a project with a traditional datbase layout, but it looks like it's impossible or very difficult.

I have tried following the code in this repository (and the guide in the knowledge base) to implement this myself. It seemed promising since Statamic uses a repository, but currently this driver (and Statamic in general) assumes that all entries, in any collecti

[2021-06-11 10:31] fbenas opened #22 "Question about the licence for this package"
Hi!

I noticed there's no mention of licence in this package. Could anyone let me know what if any, the licence is?

Many thanks!

[2021-06-19 13:09] mobunti commented on #12
@crackAT did you solve this? I had this last week and just reverted back to file mode because I couldn't see a solution but would like to get running in database mode. Got a customer who might need 30,000 entries and figured that was probably going to be more than file mode could handle

[2021-06-19 18:48] freshface opened #24 "Call to a member function isFuture() on int"
Got this error after installing it to an existing site. https://flareapp.io/share/KPgnE8gm
Migration went ok. I can see the entries in the database.

This is my statamic-eloquent-drive.php config:

[code]

[2021-06-19 18:58] freshface commented on #24
Update: the date field in entries table are empty.

[2021-06-22 07:48] crackAT commented on #12
Hei, no, didn't solve this. I told all CMS Users to use the live preview after saving the entry.

[2021-06-29 21:48] strebl opened #28 "Can't select other sites on publish form with eloquent driver and multi site enabled"
## Bug Description
When using the eloquent driver with multi-site enabled, an `Carbon\Exceptions\InvalidFormatException` is thrown.
After debugging, I saw that this line is responsible: https://github.com/statamic/cms/blob/3.1/src/Entries/Entry.php#L421

Usually, the date is already a Carbon instance. But because the data field is casted to json ([source](https://github.com/statamic/eloquent-drive

[2021-07-20 09:13] ashishnjoshi opened #25 "Eloquent Driver not supporting taxonomies, navigations, globals, or form submissions"
Hello Team,

I want to implement Statamic Eloquent Driver in my current existing statamic project, But I've found that this is not supporting taxonomies, navigations, globals, or form submissions.

I want to use Eloquent Driver in all above points, So Can you please provide me any solution for same.

Please let me know in case any other details required.

Waiting for your reply, Please provide me

[2021-07-20 09:23] duncanmcclean commented on #25
Someone's opened a pull request for this, which is still currently in draft mode. See #20

[2021-07-20 18:50] #25 closed

[2021-08-09 12:12] helloiamlukas opened #26 "Content API: Selecting Fields not working / error"
## Bug Description
If you try to select just specific fields (exactly as described [in the documentation](https://statamic.dev/content-api#selecting-fields)), nothing happens or an error will be thrown.

## How to Reproduce
### Problem 1: Selecting Fields has no effect
#### Request
`http://statamic.test/api/collections/newsletters/entries?fields=title`
#### Response
<img width="854" alt="Bildschir

[2021-08-17 16:11] simonhamp commented on #22
@jasonvarga any thoughts on this?

[2021-09-29 21:09] #28 closed

[2021-09-29 21:26] jesseleite commented on #16
Fixed in https://github.com/statamic/eloquent-driver/pull/19.

[2021-09-29 21:26] #16 closed

[2021-09-29 21:32] jesseleite commented on #24
@freshface There were some `date` and `UuidEntryModel` related fixes in https://github.com/statamic/eloquent-driver/pull/29. Could you confirm if this is still an issue, and if not provide more info for us to reproduce your issue? Thanks!

[2021-09-29 21:34] jesseleite commented on #15
Fixed in https://github.com/statamic/eloquent-driver/pull/29 👍

[2021-09-29 21:34] #15 closed

[2021-09-29 21:37] jesseleite commented on #4
@edalzell Is this still an issue for you? I'm running a multisite eloquent setup here without issue 🤔

[2021-09-29 21:40] jesseleite commented on #2
@crackAT @lutory I can't reproduce this in the latest version cms and eloquent-driver. Are you still experiencing this problem?

[2021-09-29 21:55] jesseleite commented on #21
Great feature request. Maybe a duplicate of https://github.com/statamic/eloquent-driver/issues/11 though?

[2021-09-29 22:05] edalzell commented on #4
You mean you converted a site that uses the Eloquent driver to multi-site via the command and there were no issues?

[2021-09-29 22:05] edalzell commented on #4
tbh though, I don't remember this so if you can't reproduce it, feel free to close

[2021-09-29 22:34] slackernrrd commented on #21
They are similar, but the feature discussed in #11 would still use the same Eloquent model/database table for the selected collections, whereas what I am proposing here is that it would also be possible to specify a Model per collection.

[2021-09-29 22:38] jesseleite commented on #21
Fair enough, will leave open.

[2021-09-29 22:41] jesseleite commented on #9
Is this still an issue for you @lutory?

[2021-09-29 22:49] jesseleite commented on #28
Fixed in next version 👍

[2021-09-30 07:35] crackAT commented on #2
Hei @jesseleite  nope it's working atm.

[2021-09-30 14:43] jesseleite opened #30 "Editing parents of mounted entries don't always update child entry uris"
- When editing the slug of a parent to a set of mounted entries, child uris are not updated
- When editing the tree nesting of a parent to a set of mounted entries, child uris are not updated

This is because eloquent is much more heavy-handed about filtering ids for performance reasons, etc.  See https://github.com/statamic/eloquent-driver/blob/master/src/Entries/CollectionRepository.php#L13-L15.

[2021-09-30 19:07] jesseleite commented on #2
@crackAT Awesome. I'm going to close this, but feel free to re-open an issue if needed 👍

[2021-09-30 19:07] #2 closed

[2021-09-30 20:17] jesseleite commented on #4
Yep, just tried both ways:

- Importing a stache multisite to DB using eloquent-driver
- Running `php please multisite` after already setup in the DB with eloquent-driver

Seems to work great now. Going to close the issue, but feel free to squawk if you run into this again.

[2021-09-30 20:17] #4 closed

[2021-10-15 11:54] bognarlaszlo opened #32 "Structured Collection: Entry URI only saved after second save"
When I modify the slug on the entry page in a structured collection and save it, the URI doesn't get updated.
If I then open the entry admin and save it again the URI is now updated.

Looks like the cause of this behaviour is in `statamic/cms/src/Entries/Entry.php`
[code]

However it might be resolved if we modify the `toModel` method in `statamic/eloquent-driver/src/Entries/Entry.php` like so:
[c

[2021-10-20 11:29] bognarlaszlo commented on #32
Closing in favour of #30

[2021-10-20 11:29] #32 closed, assigned to nobody

[2021-10-20 14:21] isarphilipp opened #33 "CollectionRepository does not use custom models"
The driver allows to specify a different `EntryModel` in `config/statamic-eloquent-driver.php` by setting `entries.model`.

![image](https://user-images.githubusercontent.com/9417412/138111297-b983a70a-c799-4d24-bb63-acfa77cdf1e7.png)

However, the `CollectionRepository` is currently hardcoded to use the shipped EntryModel:

![image](https://user-images.githubusercontent.com/9417412/138111440-04bf

[2021-11-09 11:03] Ririshi opened #36 "Uuid model database migration does not place unique constraint on id column"
As the title says. Ironically enough, the migration does not make the first id column unique, which means multiple entries could exist with the same Uuid. In most cases, that wouldn't be an issue as the same Uuid wouldn't be generated twice, but I stumbled upon it while browsing the database in phpMyAdmin. The following warning is shown there:
![image](https://user-images.githubusercontent.com/846

[2021-11-09 13:38] Ririshi opened #37 "Internal Server Error while refreshing Statamic stache"
While clearing the content stache from the Statamic control panel, I am getting a `Trying to get property 'origin' of non-object` error. Not sure what is going wrong or why, but it is definitely not supposed to happen. Let me know if I should add any more information.

Full stacktrace below:
[code]

[code]

[2021-11-22 09:10] MatteoGgl commented on #37
This is happening to me too. Same error, same situation.

[code]

[2021-12-01 17:17] AndrewHaine commented on #30
'Ello, Just a small update on this in case anyone follows the temporary solution, I've got a multisite instance approaching 2000 entries and the solution of calling `updateEntryUris()` on every saved event is having some performance implications (i.e. the page doesn't respond for a few seconds after the entry change is made).

A couple of ideas which may solve this:

**[Statamic Core] Allow us to

[2021-12-03 12:00] bognarlaszlo commented on #30
@jesseleite how we should proceed with this one? I'm guessing we should open up an issue at Statamic Core, however I'm not positive of which part of this issue should be handled in Core and which part in this driver.

[2021-12-03 14:14] jasonvarga commented on #30
No need to open a separate issue. We'll tackle both sides.

[2021-12-10 09:58] kaznoble commented on #14
Anyone resolved this issue?

[2022-01-14 13:43] enespolat24 commented on #14
when you change model to UuidEntryModel , do not change array key . keep it like this
![image](https://user-images.githubusercontent.com/21336979/149524862-9a504bd8-1e12-4c04-a0d0-b103eb91bf88.png)

[2022-02-15 14:13] ryanmitchell commented on #21
Is this not exactly what the Runway add-on lets you do? https://statamic.com/addons/double-three-digital/runway

[2022-02-15 14:14] ryanmitchell commented on #11
Is this not what runway does? https://statamic.com/addons/double-three-digital/runway

[2022-02-15 16:30] edalzell commented on #11
No, runway brings Laravel models into antlers and the CP, the other packages uses the db to store Statamic Entries.

[2022-02-15 17:05] ryanmitchell commented on #11
Yeah I guess it was more a question of why :)

If you want entries in the DB use this, if you want them "split" but the same format set up a database view, if you want different models use runway. Each to their own I guess :)

[2022-02-25 19:02] sorawayfy commented on #17
Got this error too

[2022-03-09 12:12] enespolat24 opened #43 "Reorder collection does not working"
Hey, i'm using statamic 3.2.37 with eloquent driver and i'm having this issue `https://github.com/statamic/cms/issues/3620`

any idea how to solve this ?

[2022-03-22 15:21] simonbedard12 commented on #43
I have recently switch Statamic to use a database. I have the same issue when trying to reorder a collection.
Do you have any update on that issue ? @enespolat24

[2022-03-22 17:02] enespolat24 commented on #43
Sadly no. still looking for a solution

[2022-04-04 06:57] Micke-Nilsson opened #45 "Undefined relationship after upgrade to statamic 3.3"
When I'm visiting /api/collections/{collection}/entries I'm getting
"Call to undefined relationship [author] on model [Statamic\Eloquent\Entries\UuidEntryModel]"
after upgrade to statamic 3.3

[2022-04-12 15:01] fjahn opened #46 "Support for optional slugs"
Since [Statamic 3.2.27](https://github.com/statamic/cms/releases/tag/v3.2.27), slugs can be optional. However, currently, the database table prohibits entries with missing slugs.

If someone tries to save an entry from a collection that has no slugs, it leads to this exception:

`SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'slug' cannot be null`

[2022-04-26 17:34] djmenkveld commented on #45
After upgrading to Statamic 3.3 I'm experiencing the same where `/entries` is throwing a RelationNotFoundException, stack trace is here:
https://flareapp.io/share/o7AKb1bm#F68

[2022-04-26 18:24] jackmcdade commented on #45
Have you tried the new PR branch to see if that would help? https://github.com/statamic/eloquent-driver/pull/42

[2022-04-27 08:26] Micke-Nilsson commented on #45
I tried the new PR but it still doesen't work for me. But i found the commit that is causing the problem.
[https://github.com/statamic/cms/commit/ac70772990dccf560e10dcbdad6495dcc1518840#diff-919d52f8a749cfea24664e41c5b20b5a74117db74af777f9771f755b0b5fc0a5](url)

In `src/Http/Controllers/API/CollectionEntriesController.php`

[code]
If i remove the "->with($with)" like below it works
[code]
Hope th

[2022-05-03 14:29] djmenkveld commented on #45
I also tried the PR, did not resolve it.

[2022-05-06 08:18] ryanmitchell commented on #45
@Micke-Nilsson how are you storing users (eloquent or flat file)? I've pushed up a commit here that should work if its eloquent: https://github.com/statamic/eloquent-driver/pull/42/commits/ffb59d4a3bf28102a238271ba3a9e869f70c62cd

Im not happy with it as a long term solution as it doesnt account for when users might be using flat files but it should get over your issue.

[2022-05-06 11:58] Micke-Nilsson commented on #45
Thank you for your response.
I do store my users in eloquent so your workaround works for me.
Thanks

[2022-05-24 10:25] sobotkap10 opened #47 "Issue with missing parameters"
![image](https://user-images.githubusercontent.com/81413106/170010321-e1432605-124e-413b-8a8a-3269c20dcd09.png)

![image](https://user-images.githubusercontent.com/81413106/170010474-010781f8-7371-428d-bf1d-615b07249ac8.png)

![image](https://user-images.githubusercontent.com/81413106/170010633-720098ea-bbe0-4195-af04-dab6e83df333.png)

[2022-05-26 09:50] ryanmitchell commented on #47
Fixed here: https://github.com/statamic/eloquent-driver/pull/42/commits/8f00e25417da2d4766e22276bfac9027f0a74784

[2022-09-05 06:07] ryanmitchell commented on #47
Can you check this against v1? I think this issue can be closed.

[2022-09-05 06:07] ryanmitchell commented on #46
Can you check this against v1? I think this issue can be closed.

[2022-09-05 06:07] ryanmitchell commented on #45
Now that v1 has been released I think you can close this issue?

[2022-09-05 06:08] ryanmitchell commented on #43
Can you check this against the new v1? I think this issue can be closed.

[2022-09-05 06:08] ryanmitchell commented on #37
Can you check this against v1? I think this issue can be closed.

[2022-09-05 06:08] ryanmitchell commented on #33
Can you check this against v1? I think this issue can be closed.

[2022-09-05 06:09] ryanmitchell commented on #12
Can you check this against v1? I think this issue can be closed.

[2022-09-05 06:10] ryanmitchell commented on #13
Can you check this against v1? I think this issue can be closed.

[2022-09-05 10:24] #46 closed

[2022-09-05 11:15] maxwkf opened #55 "Where on join query with alias not work"
# Where on join query with alias not work
When a where clause apply on join query with alias, it cannot parse the correct where.

Let us consider the following query.

__PHP Query__
[code]

__SQL Generated__

The where property_type putting the e.data in the json key field but not the data field
[code]
__SQL Expected__
[code]
## Cause
The problem caused by the column check in `src/Entries/EntryQue

[2022-09-05 13:37] Micke-Nilsson commented on #45
v1 solves the problem with the author relationship.

But if you for example create a news collection and a category taxonomie and then add the category to the news blueprint
you will still encounter the same problem if you don't manually add the relationship to the `Statamic\Eloquent\Entries\EntryModel`

[2022-09-05 13:41] ryanmitchell commented on #45
@Micke-Nilsson can you pull together a sample repository that shows the issue so I can work on a fix?

[2022-09-05 13:46] Micke-Nilsson commented on #45
Of course I can do that tomorrow

[2022-09-05 13:59] djmenkveld commented on #45
@ryanmitchell I agree with @Micke-Nilsson it's also not resolved in my case, if you want I can give you access to my repo, please share your gitlab username

[2022-09-05 14:03] #33 closed, assigned to nobody

[2022-09-05 14:04] #47 closed

[2022-09-05 14:06] #12 closed

[2022-09-05 15:13] ryanmitchell commented on #45
@djmenkveld sure, I just signed up, `ryanmitchell1`

[2022-09-05 15:16] #37 closed

[2022-09-05 15:23] djmenkveld commented on #45
@ryanmitchell I've just invited you, my setup is a bit different, but you'll figure it out to run it. So, I'm stuck at Statamic v3.3.11 and did not upgrade after. I can't completely recall what I did 1.5 years ago, but I'm also referring from a collection > fieldset > taxonomy > blueprint, since I did not want to repeat myself.

[2022-09-05 15:29] ryanmitchell commented on #43
I'm able to reproduce and I'm not seeing it re-ordering correctly anywhere, even on the front end.

We'll need to update EntryQueryBuilder to orderBy the `order` in the tree - so select the tree, get the ids then order by field (but this is MySQL specific).

The other option would be to get all entries then defer to OrderedQueryBuilder... but this means less processing on the database side so its

[2022-09-05 15:32] ryanmitchell commented on #45
@djmenkveld I'm in the project but cant see any code - are you sure my permissions are correct? Can you also ensure the data is included? It would be useful to get clear steps to reproduce the issue to minimise the time to reproduction.

[2022-09-05 15:58] djmenkveld commented on #45
@ryanmitchell I've upgraded your role from guest to developer. Once running, you should create a test post and you'll able to reproduce it.

[2022-09-05 21:12] ryanmitchell commented on #36
This should be fixed in v1+

[2022-09-07 12:58] Micke-Nilsson commented on #45
Yes i have created a repository with instructions to reproduce the error
https://github.com/Micke-Nilsson/statamic_issue

[2022-09-07 13:14] ryanmitchell commented on #45
Wonderful, that was a great sample repository, thank you for the effort.

Fix here: https://github.com/statamic/eloquent-driver/pull/59

[2022-09-07 14:22] Micke-Nilsson commented on #45
No problem, and thank you for your work

[2022-09-07 15:39] djmenkveld commented on #45
@Micke-Nilsson With help of @ryanmitchell I managed to resolve my issue, it works really good.

[2022-09-08 05:44] Micke-Nilsson commented on #45
@ryanmitchell I have also verfied that it works, should i close this now?

[2022-09-08 05:47] ryanmitchell commented on #45
No its ok, it will get closed when it merges.

[2022-09-08 05:51] Micke-Nilsson commented on #45
Ok thanks a lot for the fix

[2022-09-08 14:37] enespolat24 commented on #43
sorry for the late reply, yes the issue is still present with v1 eloquent-driver

[2022-09-08 16:00] ryanmitchell commented on #43
@enespolat24 see if this PR fixes it... https://github.com/statamic/eloquent-driver/pull/57

[2022-09-14 08:17] espenlg commented on #45
Is this the same problem? https://flareapp.io/share/87nlJABm#F69
I got this after adding an entries fieldtype on a collection. Using the REST API to fetch entries from this collection, and the /api call returns this error.

Everything is very updated.

Laravel 8.83.23
PHP 8.0.16
r8edge/imagemap dev-main
r8edge/welcome-widget dev-main
statamic/eloquent-driver 1.0.0

[2022-09-14 08:25] Micke-Nilsson commented on #45
Yes it looks like it

[2022-09-14 08:26] espenlg commented on #45
@Micke-Nilsson I ended up deleting the comment because I found out it was the same. Fixed manually for now, and awaiting the merge :)

[2022-09-14 13:20] enespolat24 commented on #43
sorry for the late reply, still have issues. when i hit the save button it reverts new order as it was before

[2022-09-14 14:12] #45 closed

[2022-09-16 06:53] ryanmitchell commented on #17
This is the same as #26, as I said there:

[2022-09-16 06:54] ryanmitchell commented on #24
Does this still exist in v1? If so, can you provide a sample repository showing the issue?

[2022-09-21 16:11] enespolat24 opened #61 "Form submission created_at null"
Hi , when you post a submission , created_at is null. I made this pr to fix it : #60

<img width="731" alt="image" src="https://user-images.githubusercontent.com/21336979/191555953-ed1aa277-e607-4273-acb0-b3eafe7f3b93.png">

[2022-09-27 19:27] Crasheng commented on #61
I have the same issue

[2022-10-04 06:59] webigniters opened #62 "Only entries are stored in DB"
After running:

composer require statamic/eloquent-driver
php artisan vendor:publish --tag="statamic-eloquent-config"
And running the steps for a fresh install,

I found that there was only an Entries table in the DB and that in the config also only Entries are specified.

How can I enable the other items as well?

[2022-10-04 07:00] ryanmitchell commented on #62
Can you run `php please support:details` and share the output?

[2022-10-04 07:03] webigniters commented on #62
-> php please support:details
Statamic 3.3.40 Pro
Laravel 8.83.24
PHP 7.4.13
statamic/eloquent-driver 0.3.0

Why am I on 0.3.0?

[2022-10-04 07:03] ryanmitchell commented on #62
Version 1 requires PHP8+, so you would need to update to that

[2022-10-04 07:04] webigniters commented on #62
Ah right, thanks...
I will check it out.

[2022-10-04 07:05] ryanmitchell commented on #62
@webigniters for reference: https://github.com/statamic/eloquent-driver/blob/2c4a775accb30803120b009209bc80ebcca23093/composer.json#L25

[2022-10-04 07:37] webigniters commented on #62
Why is there still only an entries table?

`Publishing complete.
-> php artisan vendor:publish --tag="statamic-eloquent-config"
Copied File [\vendor\statamic\eloquent-driver\config\eloquent-driver.php] To [\config\statamic\eloquent-driver.php]
Publishing complete.
-> php artisan vendor:publish --tag="statamic-eloquent-entries-table"
Copied File [\vendor\statamic\eloquent-driver\database\migrations

[2022-10-04 07:54] ryanmitchell commented on #62
Did you run `php artisan vendor:publish --provider="Statamic\Eloquent\ServiceProvider" --tag=migrations` ?

[2022-10-04 09:00] helloiamlukas opened #63 "`fresh()` not returning new instance"
#### Description
If you are editing an entry, save it and try to get a new instance with the `fresh()` method you will get the outdated entry back.

#### Example

[code]

This will output two different values.

[2022-10-04 09:00] helloiamlukas commented on #63
The reason for this problem is the blink cache in the `find()` method.

https://github.com/statamic/eloquent-driver/blob/2c4a775accb30803120b009209bc80ebcca23093/src/Entries/EntryRepository.php#L20-L25

[2022-10-04 09:11] ryanmitchell commented on #63
I've opened a PR here: https://github.com/statamic/eloquent-driver/pull/64

[2022-10-04 09:14] helloiamlukas commented on #63
That was fast! I just wanted to submit a PR too, but I guess you were faster :) Thanks @ryanmitchell 🚀

[2022-10-04 09:59] ryanmitchell commented on #63
@helloiamlukas I feel responsible :)

[2022-10-04 11:00] helloiamlukas opened #65 "`lastModified()` not returning correct date"
#### Description
If you try to get the `updated_at` value via the `lastModified()` method, it does not return the correct date.

The problem seems to be that the `$entry->get('updated_at')` method call is already returning a `Carbon` instance. When using the file driver, it returns a string.

This causes `lastModified()` to parse the date again: https://github.com/statamic/cms/blob/3.3/src/Data/Tr

[2022-10-04 11:11] ryanmitchell commented on #65
Hmm yeah, probably need to override the `lastModified` function rather than `fileLastModified`. Do you want to work on it?

[2022-10-04 11:39] helloiamlukas commented on #65
I opened a PR now :)

[2022-10-04 13:56] helloiamlukas opened #67 "Postgres: Can't create entry"
#### Description
When using Postgres, the following error will be thrown when trying to create a new entry:
[code]

The driver tries to use `null` as value for the `id` column for new entries.
https://github.com/statamic/eloquent-driver/blob/2c4a775accb30803120b009209bc80ebcca23093/src/Entries/Entry.php#L44-L46

Can we just delete this line, so that the `id` will not be written? Or is there any ca

[2022-10-05 12:57] ryanmitchell commented on #62
Any update on this @webigniters? did you get it resolved?

[2022-10-05 13:16] webigniters commented on #62
Yes, I seem to have forgotten the command you specified.
Thanks for the help. It works just like it should now.

I have added my own migrations for this project as well.
bigint fields are somewhat overkill in my project.

[2022-10-05 13:17] ryanmitchell commented on #62
Great, can you close the issue?

[2022-10-05 13:44] #62 closed

[2022-10-05 14:47] crackAT opened #69 "Image Meta Issue?"
Hi,

maybe i found an issue or a miss configuration on my side?
After editing images while editing an entry, the metadatas are stored in the database but after reloading and editing the image again all fields are empty:
![image](https://user-images.githubusercontent.com/6299060/194090220-d9b23d81-011f-4bd3-9dc3-04ddd82bf492.png)
![image](https://user-images.githubusercontent.com/6299060/194090284-

[2022-10-06 10:51] crackAT commented on #69
Hei, sry. its an cms bug. broken since 3.3.40. downgraded to 3.3.39 and its working

[2022-10-06 10:51] #69 closed

[2022-10-07 13:31] leganz opened #70 "Asset meta data will not be updated when file is moved"
## Issue
Moving an asset into different folder results in a duplicate entry + missing the meta data.

![CleanShot 2022-10-07 at 15 23 31@2x](https://user-images.githubusercontent.com/3373530/194564906-4d54e6d3-d810-4fe2-a8c7-e2c68f7b0800.png)

[2022-10-07 14:17] ryanmitchell commented on #70
We probably need to bring some of this method over to the Eloquent Asset class:
https://github.com/statamic/cms/blob/c09bbd0f5eb5eec3615e81532da0e08b8aea0e9b/src/Assets/Asset.php#L655-L680

Or at least cache the old metaPath, call the parent method, then update the meta value based on the old one (and remove it).

Is this something you would be prepared to work on?

[2022-10-12 12:32] cwhitby opened #72 "Paginated entry queries get their values overwritten"
Example code:
[code]

In the above example, I'm explicitly setting the requested page to `3`, however, this is always overwritten back to `1`. I think this is occurring in [EntryQueryBuilder.php:70](https://github.com/statamic/eloquent-driver/blob/2c4a775accb30803120b009209bc80ebcca23093/src/Entries/EntryQueryBuilder.php#L70) where the page and pageName variables are being set back to `page` and `

[2022-10-12 12:47] ryanmitchell commented on #72
I'm so sorry, totally my fault. I've opened a PR to fix it [here](https://github.com/statamic/eloquent-driver/pull/73)

[2022-10-12 13:34] #72 closed

[2022-10-13 10:47] espenlg commented on #61
We're also having this problem.

[2022-10-13 14:15] enespolat24 commented on #61
We found solution this and waiting for a merge at #60

[2022-10-13 14:18] espenlg commented on #61
Yes, I noticed and applied a patch. Working fine 👍

[2022-10-13 17:35] jackmcdade opened #74 "Imported Navs lose their order"
I have a structured collection built out in flat files, but when running the navs importer the tree data is lost.

[2022-10-13 17:45] ryanmitchell commented on #74
I would be hopeful that https://github.com/statamic/eloquent-driver/pull/57 fixes that

[2022-10-13 17:48] jackmcdade commented on #74
Ahh, so maybe it's only a problem with UUID based IDs?

[2022-10-13 17:55] ryanmitchell commented on #74
I think the order of one level deep structures was being lost / not saved properly. That PR fixes it. Maybe not relevant to your data - but I’d happily look into it if I can get access to the repo?

[2022-10-13 18:49] JuanS commented on #65
PR working great for me, fixes the issue

[2022-10-13 19:02] #65 closed

[2022-10-15 19:42] j3ll3yfi5h opened #75 "origin_id in localized entries are causing error"
I was trying to import 8804 entries from a current page with `php please eloquent:import-entries`.

It stopped with:
[code]

When I removed the translated data folders (with about 587 entries), it finishes without any problems. Any ideas?

Statamic 3.3.43 Pro
Laravel 8.83.25
PHP 8.0.16
statamic/collaboration 0.4.0
statamic/eloquent-driver 1.0.1

[2022-10-16 17:34] ryanmitchell commented on #75
Interesting one - at a guess I'd say its because its inserting the translation before the origin. Would there be any chance of giving me access to the data so I can try and come up with a work around? I've unfortunately not got access to a site with so many translated entries to work against.

[2022-10-16 20:03] j3ll3yfi5h commented on #75
You're completely right! I just readded them and it finished importing without any problems.

[2022-10-16 20:10] ryanmitchell commented on #75
Great - that’s good to know. I’ll refactor the import to run those without an origin first.

[2022-10-18 10:19] espenlg commented on #70
Same thing here, I get a "server error" when trying to move an asset from one folder to another. Looks like Statamic still looks for the actual metafile.
![Screenshot 2022-10-18 at 12 11 06](https://user-images.githubusercontent.com/1135679/196404007-897ddbce-bfb6-41df-8d14-17a69b0b4e25.png)

[2022-10-18 12:11] andrasvati opened #77 "Multiple taxonomy terms returned when same term exists for multiple taxonomies"
When multiple terms with same slugs exists in different taxonomies, e.g.
Taxonomy: Tags, Term: Pop
Taxonomy: Genres, Term: Pop
then for a collection entry where only one taxonomy is attached (e.g. Genres), both Terms (tags/pop and genres/pop) are returned on control panel listing (and who knows where else)
It's an issue in Taxonomies/TermQueryBuilder.php where and whereIn functions, because the ta

[2022-10-18 12:18] ryanmitchell commented on #77
Taxonomy wheres are applied during get() and paginate(), they dont need to be added to where and whereIn.
I've run a quick test and I'm not able to replicate this locally - are you able to share your blueprints so I can try and reproduce it?

[2022-10-19 08:17] andrasvati commented on #77
Here are the blueprints for the collection and taxonomies.
[taxonomy_issue.zip](https://github.com/statamic/eloquent-driver/files/9818233/taxonomy_issue.zip)
Try to create a taxonomy term with same slug in both taxonomies, and attach one of them to the collection entry.
You should see both terms in the collection listing
![taxonom-issue](https://user-images.githubusercontent.com/6052571/196635803-

[2022-10-19 08:37] ryanmitchell commented on #77
Yeah I can see this, though Im not convinced its a specific to eloquent bug as the taxonomy limitation is not being applied at the field level (that I can see).

If you mount the genres taxonomy on the collection (in the collection edit form) it then limits it to genres. So thats a work around to get past your issue.

[2022-10-20 06:31] Crasheng opened #78 "Taxonomies doesn't support multi sites ( multi language )"
Creating a taxonomy that support both language doesn't work.

the dashboard enables for both language ( but one of them which is not the origin doesn't save if title filed was supporting multi lang )

![Screen Shot 2022-10-20 at 9 29 15 AM](https://user-images.githubusercontent.com/4809602/196872710-9d8daf10-cec5-40cc-8cc7-58223cbc4444.png)
![Screen Shot 2022-10-20 at 9 29 38 AM](https://user-imag

[2022-10-20 06:41] ryanmitchell commented on #78
I'm not a bit multi-site user so its not entirely clear to me that the issue is? Are you saying that in your example there should also be a term for `arabic` alongside the terms for `default` ?

[2022-10-20 06:46] Crasheng commented on #78
yes either having an origin column like "entries"   or like "Globals" where it's being saved in the localization column (JSON), check image for reference
![Screen Shot 2022-10-20 at 9 44 14 AM](https://user-images.githubusercontent.com/4809602/196875337-a08fe4f4-af22-4983-9ebe-e126b60b3c12.png)

But some how much of modules support the multi-site expect the taxonomies

[2022-10-20 06:54] ryanmitchell commented on #78
It does save localisations, you can see that here:
https://github.com/statamic/eloquent-driver/blob/f5fdc8175e057b3290b1fc792b0a3b56437e3aa7/src/Taxonomies/Term.php#L25-L29

But I think the issue is with line 68 here:
https://github.com/statamic/eloquent-driver/blob/f5fdc8175e057b3290b1fc792b0a3b56437e3aa7/src/Taxonomies/Term.php#L67-L71

It should be assigning to `$data['localizations'][$locale]`

[2022-10-20 09:41] Crasheng commented on #78
![Screen Shot 2022-10-20 at 12 39 06 PM](https://user-images.githubusercontent.com/4809602/196913856-004eedcc-039d-44ec-96db-662770745f9c.png)

As you can see i have added `$data['localizations'][$locale] ` but still
then i dump before line: 68 `$source->dataForLocale($locale)->toArray()` as you see in the screenshot even i have sent an Arabic text still the array being dumped is having the englis

[2022-10-20 10:21] ryanmitchell commented on #78
The english text is stored as a locale, so if youre doing a dump and exit it may be the first one being output. Is anything being stored under the `localizations` key in the data column?

[2022-10-20 11:15] Crasheng commented on #78
<img width="990" alt="Screen Shot 2022-10-20 at 2 14 39 PM" src="https://user-images.githubusercontent.com/4809602/196934139-bb1ad3ac-89e8-44e6-bdfb-e76af19bf85d.png">

Still when i add this  `$data['localizations'][$locale] = $source->dataForLocale($locale)->toArray();` as u see the record in db has no localization key

[2022-10-20 17:53] tomhelmer opened #79 "Updated timestamp not working"
The TracksLastModified trait has the function :

[code]

It expects the updated_at to be a timestamp, but the Eloquent driver set a Carbon object.

We use this patch :

[code]

[2022-10-20 20:28] espenlg opened #80 "Moving assets from one folder to another does not work"
When I try to move an asset from one folder to another I get an error. Console logs identifies the problem and it looks like it searches for an actual metafile for the assets.

![196404007-897ddbce-bfb6-41df-8d14-17a69b0b4e25](https://user-images.githubusercontent.com/1135679/197051124-2606a3cf-35cb-4d94-b0a7-e8922f6ff0a5.png)

**Support details:**
Statamic 3.3.43 Pro
Laravel 8.83.23
PHP 8.0.23
r8

[2022-10-21 10:06] ryanmitchell commented on #80
Duplicate of: https://github.com/statamic/eloquent-driver/issues/70
Should be fixed by: https://github.com/statamic/eloquent-driver/pull/71

[2022-10-21 10:25] espenlg commented on #80
I did try to patch in PR #71 without any luck, but maybe it was a bit early 🤔

[2022-10-21 10:35] ryanmitchell commented on #80
Yeah I can see that now... try [this](https://github.com/statamic/eloquent-driver/pull/71/commits/9b25d9bf98a69cb755c82986e654bab429b7afba)

[2022-10-24 09:50] andrasvati opened #81 "Importing taxonomy terms separately from taxonomies"
Taxonomies and Terms can be configured separately to use file or eloquent driver.
But only one command exists, which would import both of them.
If you need to import taxonomies or terms only, you can't do it.

Can it be done by creating a new command for importing terms, and call e.g. php please eloquent:import-terms?
And delete the import terms part from import-taxonomies command?
Or was there a

[2022-10-24 09:51] ryanmitchell commented on #81
Thats just an oversight on my part. It should be easy to make a PR splitting them out - do you want to work on it?

[2022-10-25 13:49] leganz commented on #80
@ryanmitchell  i tested the code you provided.
1) it throws an exception (i mentioned it in the code)
2) i switched it to metaoldPath and the problem still exsits. I can still reproduce it.

[2022-10-25 14:05] ryanmitchell commented on #80
@leganz I've updated the variable. Can't see any reason for it not to be working at this point, but if you want to give me a full error trace and/or access to a sample repository I can certainly look into it further.

[2022-10-25 14:08] leganz commented on #80
I debugged the problem here... its kind of weirrd cause if you move/rename the asset => the writeMeta method will be called 3 times. The first time it has the meta information but the second and last time its gone

[2022-10-25 15:19] leganz commented on #80
I suggested a change in #71 => that will probably resolve the issue

[2022-10-26 18:42] #75 closed

[2022-10-27 13:44] jasonvarga commented on #79
Fixed by #66

[2022-11-01 05:56] ryanmitchell commented on #81
Do you still plan on doing this @andrasvati? If not I'll pick it up.

[2022-11-01 11:28] andrasvati commented on #81
Sure, I just couldn't figure out how to do it. I've never done a PR before. :(
Can you please help me?

[2022-11-01 11:42] ryanmitchell commented on #81
Theres a contribution guide here: https://statamic.dev/contribution-guide

In terms of approach I would probably just amend the existing import to ask "Do you want to import taxonomies?" then if yes run that bit of the import, then "Do you want to import terms?" and if yes import terms

[2022-11-02 12:03] mbpassos opened #84 "Problems importing existing file based content into database"
I have installed the eloquent driver and the migrations were successfully created and the tables also seem to be correct at the database.
However, when I try to import existing data, such as assets, by running the command: php please eloquent import-assets I get the following error:

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'handle' in 'where clause' (SQL: select * from `entries` whe

[2022-11-02 12:07] ryanmitchell commented on #84
Did you publish and make changes to the config file (`eloquent-driver.php`)? If so could you share the contents of it? Also if you can supply the full error trace, not just the top line that would be helpful.

[2022-11-02 12:19] mbpassos commented on #84
eloquent-driver.php
`<?php

return [

    'connection'   => env('STATAMIC_ELOQUENT_CONNECTION', ''),
    'table_prefix' => env('STATAMIC_ELOQUENT_PREFIX', ''),

    'assets' => [
        'driver'          => 'eloquent',
        'container_model' => \Statamic\Eloquent\Assets\AssetContainerModel::class,
        'model'           => \Statamic\Eloquent\Entries\UuidEntryModel::class,
    ],

    'bluep

[2022-11-02 12:20] ryanmitchell commented on #84
Thats what I suspected - you have set the UUID entries model under the assets.model key... thats the wrong place, it should still be `Statamic\Eloquent\Assets\AssetModel::class`

[2022-11-02 12:21] ryanmitchell commented on #84
(as an aside, wrap your error traces in code backticks, as the hash marks on the line numbers makes GitHub reference issues)

[2022-11-02 12:29] FrittenKeeZ commented on #78
I can confirm, that when you try and create a translation for a term, the translation is not saved - this fix in https://github.com/statamic/eloquent-driver/issues/78#issuecomment-1285034671 doesn't work.
I'll look into this as well as we need it working in our new project.

[2022-11-02 12:37] mbpassos commented on #84
Thank you so much for the support. I had it like that previously and I got the following error:

`local.ERROR: Class name must be a valid object or a string {"exception":"[object] (Error(code: 0): Class name must be a valid object or a string at /var/www/html/vendor/statamic/eloquent-driver/src/Assets/Asset.php:70)
[stacktrace]
#0 /var/www/html/vendor/statamic/eloquent-driver/src/Commands/ImportAs

[2022-11-02 14:05] mbpassos commented on #84
Environment
Application Name: Statamic
Laravel Version: 9.37.0
PHP Version: 8.1.11
Composer Version: 2.4.3
Environment: local
Debug Mode: ENABLED
URL: localhost
Maintenance Mode: OFF

Cache
Config: NOT CACHED
Events: NOT CACHED
Routes: NOT CACHED
Views: NOT CACHED

Drivers
Broadcasting: log
Cache: statamic
Database: mysql
Logs: stack / single
Mail: smtp
Queue: sync
Session: file

Statamic
Addons:

[2022-11-02 14:33] mbpassos commented on #84
I restarted docker containers and importing existing data worked, but now the localhost homepage stopped showing and I got a new error.

ERROR code:

`A page without a reference to an entry cannot be rendered. {"userId":1,"exception":"[object] (LogicException(code: 0): A page without a reference to an entry cannot be rendered. at /var/www/html/vendor/statamic/cms/src/Structures/Page.php:387)
[stac

[2022-11-02 17:07] ryanmitchell commented on #84
I think your navigation structure didn’t import which is going to be fixed in the next release. You can re-save it in the control panel.

[2022-11-02 20:22] #43 closed

[2022-11-02 20:50] #78 closed

[2022-11-03 09:53] mbpassos commented on #84
Oh, I see! Thank you for the feedback and support!

[2022-11-03 10:14] ryanmitchell commented on #84
1.0.3 was released yesterday and should fix this issue going forward.

[2022-11-03 10:15] ryanmitchell commented on #74
Looks like jason fixed this in 1.0.3 ([this commit](https://github.com/statamic/eloquent-driver/commit/222388aa13e3da5ae6ca388a3355bd41f4adbe02))

[2022-11-03 10:21] ryanmitchell commented on #61
Can you close this off now that 60 has been merged and released?

[2022-11-03 13:09] jasonvarga commented on #61
Oops yeah I had assumed the PR would have linked to this.

[2022-11-03 13:09] #61 closed

[2022-11-03 13:10] ryanmitchell commented on #61
Think it has to be in the initial description for that.

[2022-11-03 13:10] #74 closed

[2022-11-10 05:21] edalzell commented on #67
@ryanmitchell is the fix above the right one?

[2022-11-10 06:37] ryanmitchell commented on #67
Yeah I think its fine to drop if from the fill, its picked up by the findOrNew()

[2022-11-10 19:32] edalzell commented on #84
Can this be closed then?

[2022-11-10 19:34] ryanmitchell commented on #84
Yep should be

[2022-11-10 19:50] edalzell commented on #84
@mbpassos can you please close this?

[2022-11-11 20:49] #67 closed

[2022-11-11 21:12] #84 closed

[2022-11-11 21:44] #55 closed

[2022-11-19 07:19] digitalsounds opened #92 "Fatal error exception after upgrade of statamic/cms to version v3.3.57"
[code]

It looks like the visibility has been changed from protected to private of several constants methods in the class: [src/Fields/BlueprintRepository.php ](https://github.com/statamic/cms/blob/3.3/src/Fields/BlueprintRepository.php) from the [statamic/cms](https://github.com/statamic/cms) package and [Statamic\Eloquent\Fields\BlueprintRepository](https://github.com/statamic/eloquent-driver/bl

[2022-11-19 11:33] nbeerten opened #93 "Errors: Access level to Statamic\Eloquent\Fields\BlueprintRepository must be protected"
I am getting errors at both `php please eloquent:import-entries` and just visting any page accessing data from an entry. I have been able to fix this myself by editing `Statamic\Eloquent\Fields\BlueprintRepository` and changing occurrences `private` in front of properties and methods to `protected`.
This is the first error I got:
[code]
Screenshot of error in console:
![image](https://user-images.

[2022-11-19 13:23] ryanmitchell commented on #93
Related to:Fatal error exception after upgrade of statamic/cms to version v3.3.57 · Issue #92 · statamic/eloquent-drivergithub.comIf you have the code changes required please open a PROn 19 Nov 2022, at 11:33, nbeerten ***@***.***> wrote:﻿
I am getting errors at both php please eloquent:import-entries and just visting any page accessing data from an entry. I have been able to fix this myself by ed

[2022-11-19 13:32] nbeerten commented on #93
I'd rather not open a PR myself, both because I am not sure how to do it and because I am not sure if this is caused by a wrong setup on my side, or if the change could affect other parts of the code...

[2022-11-19 13:35] ryanmitchell commented on #93
Its been caused by:

https://github.com/statamic/cms/pull/6588

If you dont get to it I'll work on the fixes required next week.

[2022-11-19 13:37] nbeerten commented on #93
Alright, so the errors are caused by a fresh update I installed literally today... Was sort of expecting that already. Thanks in advance

[2022-11-21 16:18] jasonvarga commented on #93
Duplicate of #92

[2022-11-21 16:18] #93 closed

[2022-11-24 11:46] Z3d0X opened #96 "Model attribute not retrieved"
When using
[code]

Im getting an exception:
[code]

Flare Exception Url: https://flareapp.io/share/dmk4YYDP#F98

I understand this was added recently https://github.com/laravel/framework/pull/44283

[2022-11-29 17:24] jackmcdade opened #97 "[Planetscale Compatibility] Add option to skip foreign key constraints"
I'm working on testing Statamic with PlanetScale and ran into this issue here:

[code]

I'm not quite sure what the best way to check for configure excluding [this line](https://github.com/statamic/eloquent-driver/blob/master/database/migrations/create_form_submissions_table.php.stub#L12).

Thoughts?

[2022-11-29 17:27] ryanmitchell commented on #97
Id be happy to drop the foreign key entirely for what it’s worth.

[2022-11-29 17:31] jackmcdade commented on #97
Pretty low risk, right? You could always add your own constraint later if you want those cascading deletes.

[2022-11-29 17:54] ryanmitchell commented on #97
Yep

[2022-11-29 17:57] jackmcdade commented on #97
Then let's burn it with fire! 🔥

[2022-11-29 18:04] ryanmitchell commented on #97
Sure :) Here ya go: https://github.com/statamic/eloquent-driver/pull/98

[2022-11-29 18:23] ryanmitchell commented on #97
That ones maybe a bit more controversial, but I've updated the PR and Jason can make the call on it :)

[2022-11-29 19:24] jackmcdade opened #99 "[PlanetScale Compatibility] All tables need a primary key"
The `password_resets` table has no unique key, which prevents you from promoting a DB branch to production.

<img width="752" alt="CleanShot 2022-11-29 at 14 22 50@2x" src="https://user-images.githubusercontent.com/44739/204628216-f8af1c38-7424-4895-aeed-be037ecd8eb8.png">

Any harm in adding a basic primary, auto-incrementing `id` column?

[2022-11-29 20:36] jasonvarga commented on #99
`password_resets` is not part of the eloquent driver, it's in statamic/statamic.
There should be no harm in adding it to your own migration though.

fyi that migration is a direct copy from laravel/laravel into statamic/statamic

https://github.com/laravel/laravel/blob/9.x/database/migrations/2014_10_12_100000_create_password_resets_table.php

[2022-11-29 20:36] #99 closed

[2022-11-30 17:40] FrittenKeeZ commented on #97
@jackmcdade if you delete a form, are submissions automatically deleted by Statamic as well?

[2022-11-30 17:44] jasonvarga commented on #97
Yes